<nav class="navbar">
    <div class="site-title">
      <a href="/"><h1>PIDGEON FINAL PROJECT</h1></a>
      <p>SDEV255</p>
    </div>
    <ul class="nav-links">
      <li><a href="/index">Home</a></li>
      <!-- Add links for the new pages -->
      <li><a href="/teachers">Teachers</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/teacherForm">Create Teacher</a></li>
      <li><a href="/courseForm">Create Course</a></li>
      <li><a href="/signin">Sign In</a></li>
      <li><a href="/createAccount">Create Account</a></li>
    </ul>
  </nav>
  