<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
        <div id="signin-form" class="auth-form">
            <h2>Sign In</h2>
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="custom-input" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="custom-input" required>

                <button id="btnSignin" type="button" class="button">Sign In</button>
                <button id="btnCreate" type="button" class="button">Create Account</button>
            </form>
        </div>

    
    </div>

    <%- include("./partials/footer.ejs") %>
    
    

    <script>
        axios.defaults.headers.common['Authorization'] = localStorage.getItem('authentication');

    const signinForm = document.getElementById('signin-form');
    const btnSignIn = document.querySelector('#btnSignin');
    const btnCreate = document.querySelector('#btnCreate');
    const inputs = signinForm.querySelectorAll('input');
    const inpUserName = inputs[0];
    const inpPassword = inputs[1];
    
    inputs[0].focus();






    const easeFunctionality = () => {
        inputs.forEach((input, index) => {
            input.addEventListener('keydown', (event) => {
                if (['Enter', 'ArrowDown'].includes(event.key)) {
                    event.preventDefault();
                    if (index < inputs.length - 1) {
                        inputs[index + 1].focus();
                    }
                } else if (event.key === 'ArrowUp') {
                    if (index > 0) {
                        inputs[index - 1].focus();
                    }
                }
            });
        });
    }

    easeFunctionality();
    
    

    btnCreate.addEventListener('click', () => {
        window.location.assign(`${window.location.origin}/createAccount`);
    });

    btnSignIn.addEventListener('click', async () => {
        const obj = {
            username: inpUserName.value,
            password: inpPassword.value
        };
    
        try {
            axios.defaults.headers.common['Authorization'] = localStorage.getItem('authentication');
            const response = await axios.post('./api/signin', obj);
            const data = response.data;
    
            localStorage.setItem('authentication', JSON.stringify(data));
    
            console.log(data);
        } catch (error) {
            console.log(error);
            alert('Username or password incorrect');
        }
    });
    

    </script>
</body>
</html>
